$color-facebook: #305097;
$color-twitter: #00aced;

$color-text: #222;
$color-key: #c22;
$color-strong: #c22;
$color-link: #c22;

// @font-face {
//   font-family: 'xxx';
//   font-weight: 400;
//   src:
//     url('../font/xxx.ttf') format('truetype'),
//     url('../font/xxx.woff') format('woff');
// }

$font-ja: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$font-ja-mincho: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;

$break-point-pc-s: 1366px;
$break-point-tablet-l: 1024px;
$break-point-tablet-p: 768px;
$break-point-mobile-p: 414px;
