extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block content
  .p-sections-wrap.js-fullscreen-wrap
    .p-section.p-section--01.js-fullscreen-section
      h2.p-section__header
        |Section1
    .p-section.p-section--02.js-fullscreen-section
      h2.p-section__header
        |Section2
    .p-section.p-section--03.js-fullscreen-section
      h2.p-section__header
        |Section3
    .p-section.p-section--04.js-fullscreen-section
      h2.p-section__header
        |Section4
    .p-section.p-section--05.js-fullscreen-section
      h2.p-section__header
        |Section5
  .p-pager.js-fullscreen-pager
