extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block content
  .p-sections-wrap.js-fullscreen-wrap
    .p-section.p-section--01.js-fullscreen-section
      .p-section__in
        h2.p-section__header
          |Section1
        p.p-section__text
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          br
          |Aenean commodo ligula eget dolor. Aenean massa.
    .p-section.p-section--02.js-fullscreen-section
      .p-section__in
        h2.p-section__header
          |Section2
        p.p-section__text
          |Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          br
          |Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
          br
          |Nulla consequat massa quis enim.
    .p-section.p-section--03.js-fullscreen-section
      .p-section__in
        h2.p-section__header
          |Section3
        p.p-section__text
          |Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
          br
          |In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
          br
          |Nullam dictum felis eu pede mollis pretium.
    .p-section.p-section--04.js-fullscreen-section
      .p-section__in
        h2.p-section__header
          |Section4
        p.p-section__text
          |Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
          br
          |Aenean vulputate eleifend tellus.
          br
          |Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
    .p-section.p-section--05.js-fullscreen-section
      .p-section__in
        h2.p-section__header
          |Section5
        p.p-section__text
          |Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
          br
          |Phasellus viverra nulla ut metus varius laoreet.
          br
          |Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
  .p-pager.js-fullscreen-pager
