.p-pager {
  display: flex;
  position: absolute;
  z-index: 100;
  pointer-events: none;
  @include l-more-than-mobile {
    top: 0;
    bottom: 0;
    right: 15px;
    align-items: center;
  }
  @include l-mobile {
    bottom: 10px;
    right: 0;
    left: 0;
    justify-content: center;
  }
  &__in {
    position: relative;
    @include l-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__bar {
    position: absolute;
    background-color: $color-text;
    @include l-more-than-mobile {
      width: 2px;
      top: 21px;
      bottom: 21px;
      left: 21px;
    }
    @include l-mobile {
      height: 2px;
      bottom: 21px;
      right: 21px;
      left: 21px;
    }
  }
  &__pointer {
    width: 44px;
    height: 44px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    &:before {
      width: 8px;
      height: 8px;
      box-sizing: border-box;
      content: '';
      display: block;
      border-radius: 50%;
      border: 2px solid $color-text;
      background-color: $color-text;
    }
  }
  //
  // Interaction
  //
  &__bar {
    @include l-more-than-mobile {
      transform: scaleY(0);
    }
    @include l-mobile {
      transform: scaleX(0);
    }
    .has-animate & {
      transition-duration: 1s;
      transition-delay: .5s;
      transition-property: transform;
      transition-timing-function: $easeOutCirc;
      @include l-more-than-mobile {
        transform: scaleY(1);
      }
      @include l-mobile {
        transform: scaleX(1);
      }
    }
  }
  &__pointer {
    transform: scale(0);
    .has-animate & {
      pointer-events: auto;
      transform: scale(1);
      transition-duration: 1s;
      transition-delay: .9s;
      transition-property: transform;
      transition-timing-function: $easeOutCirc;
      &:before {
        transition-duration: .2s;
        transition-property: width, height, background-color;
      }
      &.is-over:before,
      &.is-current:before {
        width: 14px;
        height: 14px;
        background-color: #fff;
      }
    }
  }
}
