.p-section {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  @include l-more-than-mobile {
    padding: 25px;
  }
  @include l-mobile {
    padding: 15px;
  }
  &--01 {

  }
  &--02 {

  }
  &--03 {

  }
  &--04 {

  }
  &--05 {

  }
  &__in {
    text-align: center;
  }
  &__header {
    line-height: 1;
    margin-top: 0;
    @include fontSizeAll(48, 48, 32);
    font-weight: 400;
    letter-spacing: 0.04em;
    @include l-more-than-mobile {
      margin-bottom: 25px;
    }
    @include l-mobile {
      margin-bottom: 15px;
    }
  }
  &__text {
    letter-spacing: 0.07em;
    br {
      @include l-mobile {
        display: none;
      }
    }
  }

  //
  // Interaction
  //
  pointer-events: none;
  &.is-shown {
    pointer-events: auto;
  }
  @keyframes showAsc {
    0% {
      opacity: 0;
      transform: translate3d(0, 40px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes showDesc {
    0% {
      opacity: 0;
      transform: translate3d(0, -40px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes hideAsc {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    100% {
      opacity: 0;
      transform: translate3d(0, -30px, 0);
    }
  }
  @keyframes hideDesc {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    100% {
      opacity: 0;
      transform: translate3d(0, 30px, 0);
    }
  }
  &__header {
    opacity: 0;
    .is-shown &, .is-hidden & {
      animation-fill-mode: both;
      animation-timing-function: $easeOutCubic;
    }
    .is-shown & {
      animation-duration: 1.4s;
      animation-delay: .4s;
    }
    .is-shown-asc & {
      animation-name: showAsc;
    }
    .is-shown-desc & {
      animation-name: showDesc;
    }
    .is-hidden & {
      animation-duration: .8s;
    }
    .is-hidden-asc & {
      animation-name: hideAsc;
    }
    .is-hidden-desc & {
      animation-name: hideDesc;
      animation-delay: .05s;
    }
  }
  &__text {
    opacity: 0;
    .is-shown &, .is-hidden & {
      animation-fill-mode: both;
      animation-timing-function: $easeOutCubic;
    }
    .is-shown & {
      animation-duration: 1.4s;
      animation-delay: .5s;
    }
    .is-shown-asc & {
      animation-name: showAsc;
    }
    .is-shown-desc & {
      animation-name: showDesc;
    }
    .is-hidden & {
      animation-duration: .8s;
    }
    .is-hidden-asc & {
      animation-name: hideAsc;
      animation-delay: .05s;
    }
    .is-hidden-desc & {
      animation-name: hideDesc;
    }
  }
}
